

//font

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Condensed:wght@700&display=swap');



// color

$Green: #002e35;
$Black: #000000;
$Gray:#a19f9f;
